* {
    margin: 0;
    padding: 3px;
    color: white;
    background-color: black;
    font-family: Helvetica, Arial, Sans-Serif;
}

#game-head {
    display: flex;
    flex-direction: column;
}

#game-start {
    height: 30px;
    width: 50px;
}

#game-container {
    display: flex;
    border: 3px solid lightgray;
    height: 500px;
    width: 500px;
}

.button {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    outline: none;
    margin: 1px;
}

.button:hover {
    border: 1px solid white;
}

#button-1 {
    background-color: red;
}

#button-2 {
    background-color: green;
}

#button-3 {
    background-color: blue;
}

#button-4 {
    background-color: yellow;
}